body {
  font-family: "Merriweather", serif;
  color: #333333;
  text-align: center;
}

.logo {
  height: auto;
  width: 100px;
}
.focaccia {
  height: auto;
  width: 100%;
  border-radius: 1.5%;
}
.document {
  width: 50%;
  text-align: left;
  margin: auto;
}
.underlogo {
  background-color: #fdfbf1;
  padding: 1rem;
  border-top: 1px solid #ffd877;
  color: #004d4c;
  margin: 0px;
  font-size: 0.7rem;
}
.author {
  color: #999999;
  text-align: center;
  margin-top: 1rem;
}
.featured {
  border-left: 1px solid #ffd877;
  padding-left: 1rem;
  margin-top: 2rem;
}
.featured p {
  color: #b5460f;
  margin-bottom: 0px;
}
.list-header {
  margin-top: 3rem;
  border-bottom: 1px solid #c4f3f2;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

#anchor {
  color: #107777;
}
.titlelist {
  font-weight: bold;
}

li {
  padding: 8px;
}
